@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Popis rola";
}

<h1 class="alert alert-info">Popis svih rola</h1>



@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Ime role
            </th>
            <th>
                Akcija
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@Html.ActionLink("Uredi", "EditRole", new { id = item.Id })</td>
            </tr>
        }
    </table>
}
else
{
    <div class="card">
        Ne postoji nijedna rola još.
    </div>
}
<p class="alert alert-info">
    <b><a asp-action="CreateRole">Unos nove role</a></b>
</p>
